# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variables
*.tfvars
*.tfvars.json

# Node.js
**/node_modules/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db